.cart-page {
  padding-bottom: 50px;
  .cart-title {
    display: flex;
    height: 40px;
    line-height: 40px;
    padding: 5px 5px 0;
    border-bottom: 1px solid #EFEFEF;
    .cart-text {
      margin-left: 5px;
      font-size: 14px;
    }
  }
  .app-goods-item:last-child {
    border-bottom: 0;
  }
  .empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 200px;
    image {
      width: 90px;
      height: 90px;
    }
  }
}