.app-delivery-address {
  height: 90px;
  .add-address-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .address-info-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 5px;
    font-size: 12px;
    .conact-user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
      .phone {
        display: flex;
        justify-content: space-between;
      }
    }
    .detail-address {}
  }
  .address-border {
    display: block;
    width: 100%;
    height: 5px;
  }
}