.goods-detail-page {
  padding-bottom: 50px;
  swiper {
    height: 750rpx;
    image {
      width: 100%;
      height: 100%;
    }
  }
  .goods-info-box {
    padding: 10px 5px;
    .goods-price {
      font-size: 18px;
      color: #C00000;
      margin: 10px 0;
    }
    .goods-info {
      display: flex;
      justify-content: space-between;
      .goods-name {
        font-size: 13px;
        margin-right: 10px;
      }
      .goods-icon {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-left: 1px solid #EFEFEF;
        color: #808080;
        width: 120px;
        font-size: 12px;
      }
    }
    .goods-fee {
      margin: 10px 0;
      font-size: 12px;
      color: #808080;
    }
  }
  .goods-nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
  }
}