.app-search-box {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 10px;
  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 36px;
    background-color: #FFFFFF;
    .placeholder {
      margin-left: 5px;
      font-size: 14px;
    }
  }
}